<form action="">
  <div class="row m-2">
    <div class="col-sm-3">
      <input
        class="form-control form-control-sm"
        type="text"
        placeholder="party name"
      />
    </div>
    <div class="col-sm-3">
      <input
        class="form-control form-control-sm"
        type="text"
        placeholder="address 1"
      />
    </div>
    <div class="col-sm-3">
      <input
        class="form-control form-control-sm"
        type="text"
        placeholder="address 2"
      />
    </div>
    <div class="col-sm-3">
      <input
        class="form-control form-control-sm"
        type="text"
        placeholder="address 3"
      />
    </div>
  </div>
  <div class="row m-2">
    <div class="col-sm-3">
      <input
        class="form-control form-control-sm"
        type="text"
        placeholder="GSTIN NO"
      />
    </div>
    <div class="col-sm-3">
      <input
        class="form-control form-control-sm"
        type="text"
        placeholder="Destination"
      />
    </div>
    <div class="col-sm-3">
      <input
        class="form-control form-control-sm"
        type="text"
        placeholder="PIN CODE"
      />
    </div>
    <div class="col-sm-3">
      <input
        class="form-control form-control-sm"
        type="text"
        placeholder="Phone"
      />
    </div>
  </div>
  <div class="row m-2">
    <div class="col-sm-3">
      <input
        class="form-control form-control-sm"
        type="text"
        placeholder="Phone"
      />
    </div>
    <div class="col-sm-3">
      <input
        class="form-control form-control-sm"
        type="text"
        placeholder="Mobile No"
      />
    </div>
    <div class="col-sm-3">
      <input
        class="form-control form-control-sm"
        type="text"
        placeholder="Email"
      />
    </div>
    <div class="col-sm-3">
      <div class="form-group">
      <select class="form-control form-control-sm">
        <option>Yes</option>
        <option>No</option>
      </select>
      </div>
    </div>
  </div>
</form>

