<form action="">
  <div class="row m-2">
    <div class="col-sm-3 form-group">
      <label for="exampleFormControlSelect1">Party Name</label>
      <input
        class="form-control form-control-sm"
        type="text"
        placeholder="party name"
      />
    </div>
    <div class="col-sm-3 form-group">
      <label for="exampleFormControlSelect1">Address</label>
      <input
        class="form-control form-control-sm"
        type="text"
        placeholder="address 1"
      />
    </div>
    <div class="col-sm-3 form-group">
      <label for="exampleFormControlSelect1">Address</label>
      <input
        class="form-control form-control-sm"
        type="text"
        placeholder="address 2"
      />
    </div>
    <div class="col-sm-3 form-group">
      <label for="exampleFormControlSelect1">Address</label>
      <input
        class="form-control form-control-sm"
        type="text"
        placeholder="address 3"
      />
    </div>
  </div>
  <div class="row m-2">
    <div class="col-sm-3 form-group">
      <label for="exampleFormControlSelect1">GSTIN NO</label>
      <input
        class="form-control form-control-sm"
        type="text"
        placeholder="GSTIN NO"
      />
    </div>
    <div class="col-sm-3 form-group">
      <label for="exampleFormControlSelect1">Destination</label>
      <input
        class="form-control form-control-sm"
        type="text"
        placeholder="Destination"
      />
    </div>
    <div class="col-sm-3 form-group">
      <label for="exampleFormControlSelect1">PIN Code</label>
      <input
        class="form-control form-control-sm"
        type="text"
        placeholder="PIN CODE"
      />
    </div>
    <div class="col-sm-3 form-group">
      <label for="exampleFormControlSelect1">Phone</label>
      <input
        class="form-control form-control-sm"
        type="text"
        placeholder="Phone"
      />
    </div>
  </div>
  <div class="row m-2 mb-5">
    <div class="col-sm-3 form-group">
      <label for="exampleFormControlSelect1">Phone</label>
      <input
        class="form-control form-control-sm"
        type="text"
        placeholder="Phone"
      />
    </div>
    <div class="col-sm-3 form-group">
      <label for="exampleFormControlSelect1">Mobile No.</label>
      <input
        class="form-control form-control-sm"
        type="text"
        placeholder="Mobile No"
      />
    </div>
    <div class="col-sm-3 form-group">
      <label for="exampleFormControlSelect1">E-mail Id</label>
      <input
        class="form-control form-control-sm"
        type="text"
        placeholder="Email"
      />
    </div>
    <div class="col-sm-3 form-group">
      <label for="exampleFormControlSelect1">Party Lock Status</label>
      <div class="form-group">
        <select class="form-control form-control-sm">
          <option>Yes</option>
          <option>No</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="float-right col-sm-6 clear">
      <button type="button" class="btn btn-primary btn-sm">
        Save
      </button>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-primary btn-sm">Cancel</button>
    </div>
  </div>
</form>
