<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" routerLink="partylist">Party List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="partyadd">Party Add</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="partyedit">Party Edit</a>
        </li>
      </ul>
    </div>
    <div class="card-body rounded">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
