<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="/assets/bootstrap-logo.svg"
        alt=""
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
      TSIBISSOLUTION
    </a>
    <div>
      <a class="btn btn-default" routerLink="master">Master</a>
      <a class="btn btn-default" routerLink="enteries">Entries</a>
      <a class="btn btn-default" routerLink="reports">Reports</a>
      <a class="btn btn-default" routerLink="billgeneration">Bill Generation</a>
    </div>
    <nav class="me-5">
      <ul class="nav nav-tabs">
        <li class="nav-item dropdown">
          <button
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            href="#"
            role="button"
            aria-expanded="false"
          >
            Hello {{ username }}&nbsp;
            <i>
              <img
                class="rounded-circle"
                src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                alt="User Avatar"
                style="width:25px"
            /></i>
          </button>

          <!-- <div style="line-height:55px">
            <a
              href=""
              class="dropdown-toggle nav-link"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <img
                class="rounded-circle"
                src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                alt="User Avatar" style="width:50px"
              />
            </a>
          </div> -->
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="master">Party</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</nav>
